/assignment1/__pycache__/
/assignment1/__pycache__/*
/preassignement
/preassignement/*
/assignment1/convolution_results/
/assignment1/convolution_results/*
assignment1/data/
assignment1/data/*
assignment1/pics/
assignment1/pics/*
